.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F8F8F8; /* Background color */
    opacity: 1;
    transition: opacity 1s ease-out; /* Transition effect for fade-out */
  }
  
  .landing-page.fade-out {
    opacity: 0; /* Fade out effect */
  }
  
  .landing-page img {
    max-width: 100%;
    height: auto;
  }
  