.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #F8F8F8; /* Background color */
  position: relative; /* For absolute positioning of buttons */
  overflow: hidden; /* Hide overflowing content */
}

.landing-page .landing-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the logo */
  max-width: 80%; /* Large initial size */
  height: auto;
  transition: transform 1.5s ease-in-out; /* Smooth transition */
}

.landing-page.slide-logo-out .landing-logo {
  transform: translate(-210%, -50%); /* Move logo out of viewport to the left */
}

.landing-page .navigation-buttons {
  position: absolute; /* Positioning relative to the parent */
  right: 10%; /* Distance from the right edge */
  top: 50%; /* Vertically centered */
  transform: translateY(-50%); /* Center vertically */
  display: flex; /* Display buttons in a row */
  gap: 15px; /* Space between buttons */
  opacity: 0;
  transition: opacity 3s ease-in-out; /* Slower fade-in effect */
}

.landing-page .navigation-buttons.fade-in {
  opacity: 1;
}

.landing-page .navigation-buttons button {
  padding: 15px 30px; /* Larger button size */
  font-size: 18px; /* Larger font size */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: none; /* Remove background styling */
  color: inherit; /* Inherit text color */
}
