/* src/components/GalleryPage.css */

@font-face {
  font-family: 'the-macker-gallery-regular';
  src: url('../../fonts/the-macker-gallery-regular.woff2') format('woff2'),
       url('../../fonts/the-macker-gallery-regular.woff') format('woff'),
       url('../../fonts/the-macker-gallery-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Define the custom font */
@font-face {
  font-family: 'ArtshowAltThin';
  src: url('../../fonts/artshow-alt-thin.woff2') format('woff2'),
       url('../../fonts/artshow-alt-thin.woff') format('woff'),
       url('../../fonts/artshow-alt-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* General styles */
.gallery-page { 
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 100vh; /* Full viewport height */
  padding: 20px;
  box-sizing: border-box;
  text-align: center; /* Center text inside the elements */
  background: #F8F8F8;
}

.title {
  font-size: 6rem; /* Increased the size */
  margin-bottom: 20px; /* Reduced bottom margin for closer spacing */
  font-weight: bold;
  color: #333;
  font-family: 'the-macker-gallery-regular', sans-serif;
  letter-spacing: 6px;
  margin-bottom: 25px;


}

.title-link {
  text-decoration: none;
  color: inherit; /* Inherit the color from the .title class */
  cursor: pointer; /* Show a pointer to indicate it's clickable */
  transition: color 0.3s, text-decoration 0.3s;
}

.title-link:hover {
  color: #007BFF; /* Change the color on hover to indicate it's clickable */
  text-decoration: underline; /* Underline the text on hover */
}

.subTitle {
  font-size: 3rem; /* Half the size of the title */
  font-weight: bold;
  color: #333;
  margin: 0 auto; /* Center the subtitle horizontally */
  display: flex;
  justify-content: center; /* Center the content inside the subtitle */
  width: 100%; /* Take up the full width to allow even spacing */
  text-align: center;
  font-family: 'the-macker-gallery-regular', sans-serif;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

/* Apply the custom font to the navigation list */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next line */
  gap: 40px; /* Increased the gap for better spacing */
  justify-content: center; /* Center items horizontally */
  font-family: 'ArtshowAltThin', sans-serif; /* Apply the custom font */
}

nav ul li {
  display: inline; /* Ensure list items are inline */
}

nav ul li a {
  text-decoration: none;
  font-size: 3rem; /* Increased the size */
  color: #000;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #007BFF;
}

@media (max-width: 768px) {
  .title {
    font-size: 4rem; /* Adjusted size for smaller screens */
  }

  .subTitle {
    font-size: 2rem; /* Adjusted size for smaller screens */
  }

  nav ul {
    flex-direction: column; /* Change to column layout on small screens */
    gap: 20px;
  }

  nav ul li a {
    font-size: 2rem; /* Adjusted size for smaller screens */
  }
}

